body {
  background-color: #282c34;
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
  flex: 1;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  height: 100vh;
}

.appHeader {
  background-color: #282c34;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  /* position: fixed; */
  width: 100%;
  z-index: 500;
  height: 70px;
}

.appHeader div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

h5 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.7em;
}

h5 span {
  color: #68e6ff;
}

.appHeader .menuBtn {
  color: #fff;
  /* font-size: 0.6em; */
  text-transform: uppercase;
  margin-left: 15px;
}

.appHeader section {
  font-size: 0.8em;
  transform: translateX(-70%);
}

.LogInForm,
.signUpForm {
  align-items: center;
  padding-top: 100px;
  color: #ffffff77;
}

.LogInForm h2,
.signUpForm h2 {
  align-items: center;
  padding-top: 100px;
  color: #ffffff77;
}

.signUpForm form {
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  margin: 25px auto;
}

.LogInForm form label,
.signUpForm form label {
  margin-bottom: 15px;
  font-size: 0.8em;
  font-weight: lighter;
}

.LogInForm input,
.signUpForm input {
  /* width: 300px; */
  margin: 3px auto 10px;
}

.signUpForm span {
  font-size: 0.7em;
  color: rgb(250, 57, 57);
}
.homePge {
  /* background: #eee; */
  min-height: 100%;
  overflow-y: scroll;
  height: 100%;

  /* transform: translateY(50px); */
  /* margin-top: 120px; */
  /* padding: 15px; */
}

.homePge h1 {
  margin-top: 60px;
  text-align: center;
  color: #ffffff77;
}

.searchBar {
  /* position: fixed; */
  width: 100%;
  left: 0;
  top: 30px;
  display: flex;
  /* background: grey; */
  flex: 1;
  z-index: 500;
  height: 50px;
  transition: 200ms ease-in;
}

.searchLogged {
  top: 70px !important;
}

.searchBar input {
  flex: 1;
  border-radius: 0 !important;
  background-color: #52bacff3;
  border: none;
  font-size: 1.8em;
  color: #fff;
  padding: 0 15px;
  height: 100%;
}

.searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; /* Firefox */
}

.searchBar input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7);
}

.searchBar input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7);
}

.searchBar input:focus {
  box-shadow: none;
  box-shadow: none -moz-mac-focusring;
  outline: none;
  background-image: linear-gradient(
    to right,
    #3993a5 1%,
    rgba(255, 255, 255, 0) 70%
  );
}

.searchBar button {
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 0 30px;
  background-color: #008099;
  border: none;
  color: #fff;
  letter-spacing: 0.07em;
  font-weight: bold;
}

.searchCategory {
  width: 180px;
  background-color: #59aaba;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.searchCat {
  color: #2a565f;
  cursor: pointer;
  transition: 150ms ease-in;
}

.searchCat:hover {
  color: #94d1dd;
}

.active {
  color: #f2fdff;
}

.active:hover {
  color: #f2fdff;
}

#predictive {
  z-index: 500;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  top: 120px;
  margin: 0;
  max-height: 245px;
  overflow-y: scroll;
  background: rgba(26, 27, 27, 0.886);
}

h6 {
  margin: 0 0 0 10px;
  color: #ffffff88;
}
h4 {
  margin: 0;
}

#predictive li {
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 40px;
  color: rgba(116, 116, 116, 0.945);
  /* background: rgba(199, 199, 199, 0.685); */
  background-color: #337a88d8;
  color: #fff;
  text-align: left;
  margin: 1px 0 0;
  font-weight: bold;
  cursor: pointer;
  transition: 150ms ease-in;
}

#predictive li:focus,
#predictive li:hover {
  box-shadow: none;
  box-shadow: none -moz-mac-focusring;
  outline: none;
  /* background: rgba(199, 199, 199, 0.885); */
  color: #fff;
  background: #4caec2f3;
  z-index: 600;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
}

#resultContainer {
  display: flex;
  overflow-x: scroll;
  height: 100%;
}

#resultContainer h1 {
  margin: 0;
  font-size: 3.5em;
  text-align: left;
  color: #ffffffde;
}

.resMainInfo {
  display: flex;
  flex: 1;
  backdrop-filter: brightness(0.5);
  padding: 2rem;
}

.resMainInfo div.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 2rem 0 0 !important;
}

.resMainInfo div.header p {
  color: rgb(235, 235, 235);
  margin: 6px 0 0;
  line-height: 1.3em;
}

.mainGenre {
  color: #eee;
  background: #ffffff33;
  padding: 6px 20px;
  font-size: 0.7em;
  margin: 5px 20px 3px 0;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
}

.mainGenreList {
  display: flex;
}

.aside {
  min-width: 300px;
  backdrop-filter: brightness(0.5);
  padding: 2rem 2rem 2rem 0;
}

.aside ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.credits {
  background: #ffffff33;
  display: flex;
  margin-bottom: 10px;
  border-radius: 0px;
  /* padding: 10px; */
}

.credits h6:nth-of-type(1) {
  font-size: 1.2em;
  margin-top: 6px;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.884);
}

.credits h6:nth-of-type(2) {
  font-size: 0.7em;
  letter-spacing: 0.04em;
  /* font-weight: lighter; */
  color: #cfcfcfd2;
}

.credits div {
  display: flex;
  flex-direction: column;
}
img.featImg {
  max-width: 220px;
  max-height: 331px;
  border-radius: 6px;
  margin-right: 20px;
  border: solid 1px #ffffff88;
  box-shadow: 0px 0px 4px rgba(17, 22, 31, 0.542);
}

#relatedRes {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: yellow;
  margin: 0;
  /* overflow-x: auto; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory; */
  height: auto;
}

/* #relatedRes div {
  scroll-snap-align: start;
  flex: 1;
  min-width: 180px;
  max-width: 180px;
  min-height: 100%;
  max-height: 100%;
} */

.resBox {
  /* scroll-snap-align: start; */
  background: #2e323b;
  /* border: 1px solid #fff; */
  color: #fff;
  height: auto;
  min-height: 200px;
  flex: 1;
  min-width: 500px;
  /* max-width: 200px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  transition: 170ms ease-in;
}

.resBox:hover {
  background: #343944;
  z-index: 100;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.463);
}

.imgLinks {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.imgLinks img {
  height: 278px;
  width: 185px;
}

.searchInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  height: auto;
  /* max-height: 278px; */
  overflow-y: scroll;
  padding-left: 20px;
  /* flex: 1; */
  height: 100%;
}

.searchInfo h1 {
  margin: 0 0 5px;
  color: #f7fcfd;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-content: flex-start;
}

.searchInfo span {
  font-size: 0.8em;
  color: #ffffff66;
  /* background: yellow; */
  text-align: left;
  margin: 4px 0 3px;
}

.searchInfo p {
  text-align: left;
  margin-top: 3px;
  line-height: 1.3em;
  font-size: 0.9em;
}

.itemBtn {
  color: #eeeeee;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  background: #ffffff33;
  border-radius: 4px;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.itemBtn:hover {
  color: #ffffff;
  background: #ffffff44;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15); */
}

#target {
  margin: 0 20px 0 0;
  color: #fff;
  background: rgb(55, 161, 223);
  min-width: 210px;
  max-width: 210px;
  flex: 1;
  /* z-index: 600; */
  min-height: 280px;
  position: relative;
}

.resGenres {
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.resGenres button {
  font-size: 0.6em;
  padding: 6px 17px;
  margin: 0 10px 10px 0;
  border: none;
  background: #ffffff11;
  color: #ffffffbb;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: 150ms ease-in;
}

.knownForBtn button {
  margin-top: 6px;
  padding: 5px 15px;
  color: #eee;
}

.knownForBtn button:hover {
  background: #ffffff31;
}

.knownForBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff00;
  border-radius: 4px;
  padding: 0px;
  margin: 0px 20px 5px 0;
}

.knownForBtn > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.knownForBtn span {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #ffffffd5;
  padding: 0;
  margin: 0 0 0px;
}

.knownForBtn img {
  max-width: 40px;
  margin-right: 10px;
  height: auto;
}

/* #target:before {
  content: "Related";
  position: absolute;
  top: 0;
  right: -20px;
  transform: translateX(100%);
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  color: #777;
  z-index: 300;
} */
